@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

html {
    background: var(--background);
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.8;
}

.dark-theme {
    --background: #060606 url("dark-images/background.jpg");
    --white: #E4E4E4;
    --black: #151515;
    --main-color: #E4E4E4;
    --secondary-color: #151515;
    --main-green-color: #2dff9a;
    --secondary-green-color: #28C099;
    --opposite-main-green-color: #1E725E;
    --danger-color: #FF307A;
    --first-gradient-color: #282828;
    --second-gradient-color: #141414;
    --close-color: #9C1A1C;
    --mini-logo: url('dark-images/mini-logo.png');
    --what-is-radial: url('dark-images/what-is_radial.png');
    --what-is-diagramm: url('dark-images/what-is_diagramm.png');
    --promo: url('dark-images/promo.svg');
    --user: url('dark-images/user.png');
    --password: url('dark-images/password.png');
    --key: url('dark-images/key.png');
    --telegram: url('dark-images/telegram.png');
    --block-icon-2n: url('dark-images/block-icon-2n.png');
    --block-icon-2n-1: url('dark-images/block-icon-2n-1.png');
    --hover-block-icon-2n: url('dark-images/hover-block-icon-2n.png');
    --hover-block-icon-2n-1: url('dark-images/hover-block-icon-2n-1.png');
    --back: url('dark-images/back.png');
    --next: url('dark-images/next.png');
    --audio: url('dark-images/audio.png');
    --pdf: url('dark-images/pdf.png');
    --buy: url('dark-images/buy.png');
}

.light-theme {
    --background: #FFFFFF;
    --white: #E4E4E4;
    --black: #151515;
    --main-color: #151515;
    --secondary-color: #E4E4E4;
    --main-green-color: #005346;
    --secondary-green-color: #005346;
    --opposite-main-green-color: #1E725E;
    --danger-color: #FF307A;
    --first-gradient-color: #38A897;
    --second-gradient-color: #095B4F;
    --landing-border-color: #C4C4C4;
    --close-color: #9C1A1C;
    --mini-logo: url('light-images/mini-logo.png');
    --what-is-radial: url('light-images/what-is_radial.png');
    --what-is-diagramm: url('light-images/what-is_diagramm.png');
    --promo: url('light-images/promo.svg');
    --user: url('light-images/user.png');
    --password: url('light-images/password.png');
    --key: url('light-images/key.png');
    --telegram: url('light-images/telegram.png');
    --block-icon-2n: url('light-images/block-icon-2n.png');
    --block-icon-2n-1: url('light-images/block-icon-2n-1.png');
    --hover-block-icon-2n: url('light-images/hover-block-icon-2n.png');
    --hover-block-icon-2n-1: url('light-images/hover-block-icon-2n-1.png');
    --back: url('light-images/back.png');
    --next: url('light-images/next.png');
    --audio: url('light-images/audio.png');
    --pdf: url('light-images/pdf.png');
    --buy: url('light-images/buy.png');
}

mark {
    color: var(--main-green-color);
    background: none;
}

.container {
    box-sizing: border-box;
    max-width: 850px;
    padding: 0 25px;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (max-width: 1550px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 6px;
    }
}

