.modal-window {
    position: fixed;
    right: 40px;
    bottom: 30px;
    padding: 1rem 3rem;
    font-size: 1.9em;
    font-family: 'Roboto-Medium';
    background: #282828;
}

.modal-window_error {
    color: var(--danger-color);
}

.modal-window_success {
    color: #2DFF9A;
}
